<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"> </header>
	
	<div class="container py-4">
		<div class="card bg-light">

			<h1 th:text="${titulo}"
				class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

			<div th:object="${periodo}" th:remove="tag">
				<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
			</div>

			<div class="card-body">
				<form th:action="@{/periodo/form}" th:object="${periodo}" method="post">

					<div class="form-group row" hidden="true">
						<label class="col-sm-2 col-form-label">Id</label>
						<div th:if="${#fields.hasErrors('*')}">errors</div>
						<div class="col-sm-10">
							<input type="hidden" th:field="*{id}" class="form-control"
								placeholder="Id" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Descripcion</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{descripcion}" class="form-control"
								placeholder="Descripcion Periodo"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Fecha Inicio</label>
						<div class="col-sm-10">
							<input type="date" th:field="*{fechaInicio}" class="form-control"
								placeholder="Fecha de Inicio (YYYY-MM-DD)"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Fecha Final</label>
						<div class="col-sm-10">
							<input type="date" th:field="*{fechaFinal}" class="form-control"
								placeholder="Fecha Final (YYYY-MM-DD)"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechaFinal')}" th:errors="*{fechaFinal}"></small>
						</div>
					</div>
					
					<div>
						<input type="submit" value="Crear Periodo" class="btn btn-primary" />

					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>