<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"> </header>
<body>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<ul class="list-group">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">ID</label> <label
							class="col-sm-6 col-form-label " th:text="${datos.id}"></label>
					</div>

					<div class="form-group row ">
						<label class="col-sm-2 col-form-label">DESCRIPCION</label> <label
							class="col-sm-6 col-form-label " th:text="${datos.descripcion}"></label>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">PERIODO</label> <label
							class="col-sm-6 col-form-label "
							th:text="${datos.periodo.descripcion}"></label>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">EMPRESA</label> <label
							class="col-sm-6 col-form-label "
							th:text="${datos.empresa.nombre}"></label>
					</div>

				</ul>
			</div>
		</div>
<!-- 
		<h4 class="card-title py-2">
			<a th:href="@{#}" class="btn btn-primary btn-xs">Crear
				Declaracion</a>
		</h4>
		 -->
		 
		<div class="card-columns py-3" >
			<div class="card" style="max-width: 18rem;">
				
				<div class="card-body">
				<img src="/image/comprasiva.jpg" class="card-img-top" alt="librocompras"  width="260" height="280" >
					<h5 class="card-title">LIBRO DE COMPRAS</h5>
					<p class="card-text">Mantenimiento de libro de Compras</p>
				</div>
			</div>

			<div class="card" style="max-width: 18rem;">
				
				<div class="card-body">
				<img src="/image/libroventas.jpg" class="card-img-top" alt="libroventas"  width="260" height="280" >
					<h5 class="card-title">LIBRO DE VENTAS</h5>
					<p class="card-text">Mantenimiento de libro de Ventas</p>
				</div>
			</div>
		</div>
		
	</div>
</body>

<footer th:replace="layout/layout :: footer"></footer>

</html>